body{
    font-family: Arial, sans-serif;
    background-color: #B8BF9F;
}
header{
    background-color: #8C2A14;
    color: white;
    border: #1E1A1B solid 2px;
    text-align: center;
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 30px
}
nav{
    background-color: #638890;
    padding: 25px;
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
    border: #1E1A1B solid 2px;
}
.nav-button{
    background-color: #1D1E17;
    color: white;
    border: none;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 18px;
    
}
.nav-button:hover {
    background-color: #6b6b69; 
}
h2{
    margin-left: 10px;
}
div{
    background-color: lightgrey;
    width: auto;
    text-align: center;
    border: 2px solid #1E1A1B;
    padding: 30px;
    font-size: 25px;
    margin: 10px;
    color: black
}
.parrafo{
    text-align: left;
}
.imagen{
    width: 50%;
    margin: 10px;
}

  